<!-- Section-5 Component -->
<!-- That's Component For Show Slider -->

<section id="fiSection">
    <div class="fisection">

        <div class="slide-container">
            <div id="right-slide1"></div>
            <div class="section-slider container" id="slider1">
                <div *ngFor="let p of products" class="thumbnail1 card">
                    <img [src]="p.image.url" class="card-img-top" [alt]="p.alt">
                    <div class="card-body card-body-style">
                        <div class="d-flex justify-content-between">
                            <p class="small card-body-p">
                                <a href="#" class="text-white text-decoration-none">
                                    {{p.categories}}
                                </a>
                            </p>
                            <p class="small text-danger">
                                <s>&#36;{{p.lPrice}}</s>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0" style="text-shadow: 0 0 0.5px black;">
                                {{p.product}}
                            </h5>
                            <h5 class="text-dark mb-0">
                                <span style="color: green">$</span>
                                {{p.nPrice}}
                            </h5>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="ava-style text-muted mb-0 align-self-center">
                                Available: <span class="fw-bold">
                                    {{p.available}}
                                </span></p>
                            <div class="ms-auto text-warning">
                                <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                                    <i class="fa fa-star fa-sm" *ngIf="p.stars >= i + 1"></i>
                                    <i class="fa fa-star-half-alt fa-sm" *ngIf="p.stars + 0.5 === i + 1"></i>
                                    <i class="far fa-star fa-sm" *ngIf="p.stars + 0.5 < i + 1"></i>
                                </span> <!--The Best Code in My life !-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="left-slide1"></div>
        </div>

        <!-- Slider End -->

        <div class="row" style="padding: 0 4rem;">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="assets/img/product/gallery/gallery-one.jpg"
                    class="w-100 shadow-1-strong rounded mb-4 img-fluid" alt="">

                <img src="assets/img/product/gallery/gallery-two.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4 img-fluid" alt="">
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="assets/img/product/gallery/gallery-three.jpg"
                    class="w-100 shadow-1-strong rounded mb-4 img-fluid" alt="">
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="assets/img/product/gallery/gallery-four.jpg"
                    class="w-100 shadow-1-strong rounded mb-4 img-fluid" alt="">

                <img src="assets/img/product/gallery/gallery-five.jpg"
                    class="w-100 shadow-1-strong rounded mb-4 img-fluid" alt="">
            </div>
        </div>

        <!-- Gallery End -->

    </div>
</section>

<!-- Section-5 Component End -->