<!-- Section-5 Component -->
<!-- That's Component For Show Swipers -->

<section id="fiSection">
    <div class="fisection">

        <div class="slide-container">
            <div id="right-slide1"></div>
            <div class="section-slider container" id="slider1">

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>


                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>


                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail1 card" style="width: 12rem;">
                    <img src="assets/product/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

            </div>
            <div id="left-slide1"></div>
        </div>

        <!-- First Swiper End -->

        <div class="slide-container">
            <div id="right-slide2" class="arrow"></div>
            <div class="section-slider container" id="slider2">
                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>


                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div class="thumbnail2 card" style="width: 12rem;">
                    <img src="assets/product/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-style">
                        <h6 class="card-title">Lorem ipsum dolor sit amet consectetur.</h6>
                    </div>
                </div>

                <div id="left-slide2" class="arrow"></div>
            </div>
        </div>

        <!-- Second Swiper End -->

    </div>
</section>

<!-- Section-5 Component End -->