<!-- Date-Section Component -->
<!-- That's Component For Show & Selecte The Date -->

<section id="daSection">
    <div class="dasection">

        <div class="appointment-time d-flex flex-wrap ms-5">

            <div class="time">
                <div class="time-title">
                    <p>Facial Cleansing</p>
                </div>
                <div class="time-time">
                    <p>16.30 pm - 18.00 pm</p>
                </div>
                <div class="time-avable text-muted">
                    <p>3 Space AvAvailable</p>
                </div>
            </div>

            <div class="time">
                <div class="time-title">
                    <p>Facial Cleansing</p>
                </div>
                <div class="time-time">
                    <p>16.30 pm - 18.00 pm</p>
                </div>
                <div class="time-avable text-muted">
                    <p>3 Space AvAvailable</p>
                </div>
            </div>

            <div class="time">
                <div class="time-title">
                    <p>Facial Cleansing</p>
                </div>
                <div class="time-time">
                    <p>16.30 pm - 18.00 pm</p>
                </div>
                <div class="time-avable text-muted">
                    <p>3 Space AvAvailable</p>
                </div>
            </div>

            <div class="time">
                <div class="time-title">
                    <p>Facial Cleansing</p>
                </div>
                <div class="time-time">
                    <p>16.30 pm - 18.00 pm</p>
                </div>
                <div class="time-avable text-muted">
                    <p>3 Space AvAvailable</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Section-5 Component End -->