#daSection .dasection .appointment-time {
    text-align: -webkit-center;
    padding: 2rem;
    margin: 0 auto;
}

.appointment-time .time {
    padding: 10px 0;
    line-height: 1.8;
    /* border: 1.5px solid; */
    flex: 10%;
    margin: 8px;
    border-radius: 20%;
    box-shadow: 0px 0rem 10px rgba(0, 0, 0, 0.175);
    filter: contrast(0.6);
    cursor: pointer;
}

.time .time-title {
    font-weight: bolder;
    font-size: 18px;
}

.time .time-time {
    font-size: 13px;
    text-shadow: 0 0 18px #a0a0a0;
    translate: 0 -3px;
}

.time .time-avable {
    font-size: 11px;
}

.red-background {
    background-color: red;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Merienda;
}

.selected-service {
    box-shadow: 0 0 5px 0px #ff0000 !important;
}