.footer {
    position: relative;
    margin-top: -10rem;
}

.footer .footer-content {
    margin: -0.8px;
    background: #dc3545e6;
    color: white;
}

.footer .footer-content ul {
    padding: 0;
    list-style: none;
}

.footer .footer-content .top-section .row:after {
    content: '';
    position: relative;
    margin: 40px auto 0;
    width: 98%;
    height: 1px;
    background: #000;
    opacity: 0.1;
}

@media (min-width: 768px) {
    .footer .footer-content .top-section .row:after {
        margin: 60px auto 0;
    }
}

.footer .footer-content .top-section .col-top {
    text-align: center;
}

@media (min-width: 576px) {
    .footer .footer-content .top-section .col-top {
        text-align: inherit;
    }
}

.footer .footer-content .top-section .col-top .column-head {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    /* font-size: 14px; */
}

.footer .footer-content .top-section .col-top .column-body li {
    padding-bottom: 7px;
}

.footer .footer-content .top-section .col-top .column-body li:last-child {
    padding-bottom: 0;
}

.footer .footer-content .top-section .col-top .column-body li a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0.89;
    filter: drop-shadow(0px 0px 0.2px black);
    color: white;
}

.footer .footer-content .top-section .col-top .column-body li a:hover {
    opacity: 1;
}

.footer .footer-content .top-section .col-top .follow-row {
    margin: 0;
}

.footer .footer-content .top-section .col-top .follow-row li {
    padding-bottom: 0;
    display: inline-block;
    margin-right: 15px;
}

.footer .footer-content .top-section .col-top .follow-row li:last-child {
    margin-right: 0;
}

.footer .footer-content .top-section .col-top .follow-row li i {
    font-size: 18px;
    transition: all 0.3s ease;
}

.footer .footer-content .top-section .col-top .follow-row li i.fa-twitter:hover {
    color: #1da1f3;
}

.footer .footer-content .top-section .col-top .follow-row li i.fa-facebook:hover {
    color: #3b5998;
}

.footer .footer-content .top-section .col-top .follow-row li i.fa-google-plus:hover {
    color: #db4437;
}

.footer #googlemaps {
    position: relative;
    height: 250px;
    width: 100%;
    background: #f6edda;
}

.footer #googlemaps .centerMap {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    opacity: 0.6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.footer #googlemaps .centerMap:hover {
    opacity: 1;
}

.footer #googlemaps .centerMap:active {
    opacity: 0.8;
}

.footer #googlemaps .centerMap-btn {
    color: #191919;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}