<div class="footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: relative;top: 1.4rem;z-index: -1;">
        <path fill="#dc3545e6" fill-opacity="1" d="M0,192L1440,288L1440,320L0,320Z"></path>
    </svg>
    <div class="footer-content">
        <div class="top-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
                        <div class="column-head">
                            <span>Latest Models</span>
                        </div>
                        <ul class="column-body">
                            <li>
                                <a href="#Pricing">
                                    <span>The Quiff</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Free Stuff">
                                    <span>Long Curls</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Help Center">
                                    <span>Mohawk</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
                        <div class="column-head">
                            <span>Products</span>
                        </div>
                        <ul class="column-body">
                            <li>
                                <a href="#About Singleton">
                                    <span>Dyson Supersonic</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Jobs">
                                    <span>Crew Fiber</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Team">
                                    <span>Hanz de Fuko</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
                        <div class="column-head">
                            <span>Our Blog</span>
                        </div>
                        <ul class="column-body">
                            <li>
                                <a href="#Get Support">
                                    <span>Lorem dolor</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Contact Us">
                                    <span>Ipsum sit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
                        <div class="column-head">
                            <span>Contact Us</span>
                        </div>
                        <ul class="column-body">
                            <li>
                                <a href="#Prvacy Policy">
                                    <span>Lorem Bmet</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Terms & Condition">
                                    <span>Sit Amet</span>
                                </a>
                            </li>
                            <li>
                                <a href="#Blog">
                                    <span>Consectetur</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="col-lg-2 col-md-3 col-sm-4 col-12 offset-lg-2 offset-md-9 offset-sm-4 col-top text-center">
                        <div class="column-head"><span>Socila Media</span></div>
                        <ul class="column-body follow-row">
                            <li><a href="#"><i class="fa-brands fa-telegram" style="color: #000000;"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                            </li>
                            <li><a href="#"><i class="fa-brands fa-linkedin" style="color: #000000;"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="googlemaps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48902.83560176473!2d13.31810931675535!3d52.5367787859962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e019eb674eb%3A0xbfb8289616786d1d!2sROWDY%20Barber%20Shop!5e0!3m2!1sen!2s!4v1702640766032!5m2!1sen!2s"
            width="inherit" height="250" style="border:0;width:inherit;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>