#user-account .user-account-bac {
    background: #CFD8DC;
    box-shadow: inset 0 0 4px #a5a5a5;
    /* filter: grayscale(0.5);*/
    width: 100%;
    height: fit-content;
    margin: 0 auto;
}

.user-account-bac .empty {
    padding: 16rem 0;
    text-align: center;
}

.full {
    padding: 6rem 0rem;
}

.full-txt {
    font-size: 2rem;
    border-bottom: 1px dashed;
    width: fit-content;
    margin: 1rem 1rem 3rem;
}