<div id="user-account">
    <div class="container">
        <div class="user-account-bac">

            <div *ngIf="false">
                <div class="empty">
                    <p style="font-size: 3rem;">Dashboard is an Empty !</p>
                    <p style="font-size: 3.5rem;">Book an
                        <span style="font-size: 4rem;">App<span style="color: #dc3545;">o</span>intment</span> Now!!
                    </p>
                    <p>Need Help? <span class="link-danger" style="cursor: pointer;">Click Me</span></p>
                </div>
            </div>


            <div class="full">
                <div class="container">
                    <div class="full-txt">
                        <p>Your Reserved :</p>
                    </div>
                    <app-reserved></app-reserved>
                </div>
            </div>

            



        </div>
    </div>
</div>