div,
input {
    font-family: Merienda;
}

#foSection .fosection {
    /* background: darkgray; */
}

.fosection .mat-stepper-style {
    /* background: darkgray; */
    padding: 0 55px 0;
    /* height: 15rem; */
    width: 90%;
    translate: 0rem -5rem;
    margin-bottom: -14rem !important;
}

.stepper-text {
    padding: 40px 0;
    line-height: 3.3;
}

.stepper-text .stepper-text-head h2 {
    font-size: 3.5rem;
    height: 61px;
}

.stepper-text .stepper-text-content p {
    font-size: 12px;
}

#services .services {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    /* justify-content: space-between; */
    justify-content: flex-start;
    margin-left: 38px;

}

#services .services .service-body {
    display: flex;
    /* border: 2px solid #3d3d3d; */
    width: 25%;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 10px 40px;
    cursor: pointer;
    box-shadow: 0 0 5px 0px grey;
}

/* .service-body:hover{
    box-shadow: 0 0 5px 0px black !important;
} */

.service-body .service-price {
    border-bottom: 1px dashed #000;
    position: absolute;
}

.service-body .service-price p {
    margin: 0;
}

.service-body .service-text {
    margin-top: 7px;
    text-align: -webkit-center;
    line-height: 1.75;
}

.service-text .service-title {
    margin-bottom: 3px;
}

.service-text .service-title p {
    font-size: 19px;
    margin: 0;
}

.service-text .service-content {
    width: 90%;
    font-size: 10px;
}

.service-text .service-content p {
    margin-bottom: 8px;
}

.service-body .service-picture {
    width: 50%;
}

.service-picture .service-picture-bac-1 {
    background-image: url('../../assets/hair-cut.png');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-2 {
    background-image: url('../../assets/beard-trim.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-3 {
    background-image: url('../../assets/cleansing.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-4 {
    background-image: url('../../assets/hair-wash.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-5 {
    background-image: url('../../assets/hair-coloring.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-6 {
    background-image: url('../../assets/photography.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-7 {
    background-image: url('../../assets/kids-cuts.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-8 {
    background-image: url('../../assets/keratin.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.service-picture .service-picture-bac-9 {
    background-image: url('../../assets/all-service.jpg');
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 40px 4px 4px 0px;
}

.selected-service {
    box-shadow: 0 0 5px 0px #ff0000 !important;
}

.load-date {
    filter: blur(1.5px);
    cursor: wait !important;
}

.load-date-user {
    filter: blur(3.5px);
    cursor: wait !important;
}

.steppr-condition .steppr-condition-contain {
    position: absolute;
    left: 29rem;
    top: 5rem;
    width: fit-content;
    text-align: center;
}

.steppr-condition-contain p:nth-child(1) {
    margin: 0;
    font-size: 3rem;
    color: #dc3545;
    font-weight: bold;
}

.steppr-condition-contain p:nth-child(2) {
    font-size: 2rem;
}

.steppr-condition-contain a {
    font-size: x-small;
}

::ng-deep .mat-horizontal-stepper-header {
    /* pointer-events: none !important; */
}

/* limit the steppr */

.stepper-form {
    translate: 0 4rem;
}

.mat-dc-text-field-wrapper {
    width: 30rem;
    filter: drop-shadow(0px 0px 1px #6a6a6a);
    /* border-radius: 6px; */
    background: #e6e6e6;
}

.info-services>span {
    display: inline-block;
    min-width: max-content;
    width: 5rem;
}

.info-date>span {
    display: inline-block;
    min-width: max-content;
    width: 5rem;
}

.info-time>span {
    display: inline-block;
    min-width: max-content;
    width: 5rem;
}

.span-info{
    font-size: 1.2rem;
    font-weight: bold;
}

.stepper-info {
    line-height: 2.5;
    padding: 2rem;
    box-shadow: inset 0 0 6px #bcbcbc;
    border-radius: 8px;
}