<!-- Section-4 Component -->
<!-- That's Component For Select The Services & Select The Date & Reserved -->

<section id="foSection">
    <div id="appointment" class="fosection">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#dc3545" fill-opacity="0.9" d="M0,160L720,224L1440,160L1440,0L720,0L0,0Z"></path>
        </svg>
        <mat-stepper #stepper class="mat-stepper-style my-0 mx-auto">

            <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                <ng-template matStepLabel>Start Appointment</ng-template>
                <div class="stepper-text text-center">
                    <div class="stepper-text-head">
                        <h2>App<span style="color: #dc3545;">o</span>intment Now !</h2>
                    </div>
                    <div class="stepper-text-content">
                        <p class="text-muted">
                            You can save time by booking in advance. Indeed, get a <strong
                                style="color: #dc3545;">20%</strong> discount!</p>
                    </div>
                    <button class="btn btn-danger" matStepperNext>Let's Go!</button>
                </div>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Select Services</ng-template>

                <div id="services">
                    <div class="services-txt text-center">
                        <div class="services-txt-content">
                            <p class="text-muted">You Can Choose Several Services!</p>
                        </div>
                    </div>
                    <div class="services">
                        <div class="service-body service-body-bac"
                            *ngFor="let service of services.slice(0, visibleServices)"
                            [ngClass]="{'selected-service': service.isSelected , 'load-date': loadDate}"
                            (click)="!loadDate ? selectedService(service) : null">

                            <div class="service-price">
                                <p>&#36;{{ service.price }}</p>
                            </div>
                            <div class="service-text">
                                <div class="service-title">
                                    <p>{{ service.title }}</p>
                                </div>
                                <div class="service-content">
                                    <p class="text-muted">{{ service.description }}</p>
                                </div>
                            </div>
                            <div class="service-picture">
                                <div [ngClass]="service.pictureClass"></div>
                            </div>
                        </div>
                    </div>
                    <div class="float-end" style="margin-right: 4rem;">
                        <button class="btn btn-light me-2" [ngClass]="{'load-date': loadDate}"
                            (click)=" !loadDate ? loadMore() : null" *ngIf="visibleServices < services.length">Load
                            More</button>
                        <button class="btn btn-danger" (click)="showSelectedTitles()"
                            [disabled]="diasableButton">Finish?</button>
                    </div>
                    <div *ngIf="loaderAnimation" class="spinner-overlay"
                        style="position: relative;right: -33rem;top: -11rem;">
                        <mat-spinner [diameter]="80"></mat-spinner>
                    </div>
                </div>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
                <ng-template matStepLabel>Select Date</ng-template>
                <div class="steppr-condition">
                   
                    <div class="date-fix d-flex">
                        <div class="calendar mt-5">

                            <!-- <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker>
                                    <mat-datepicker-actions>
                                        <button mat-button matDatepickerCancel>Cancel</button>
                                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                      </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field> -->


                            <div class="input-group mb-3" style="padding: 0px 14rem;">
                                <input 
                                style="background: #e0e0e0;
                                border: none;
                                padding: 10px;
                                border-radius: 5px;
                                width: 43rem;
                                position: absolute;"
                                 matInput [matDatepicker]="picker" placeholder="Choose a date" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button 
                                style="position: relative;
                                left: 40rem;
                                top: 3px;"
                                class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="picker.open()"> <i class="fa-light fa-calendar-circle-plus fa-lg ms-3"></i></button>
                              </div>
                              
                              <mat-datepicker #picker>
                                <mat-datepicker-actions>
                                  <button mat-button matDatepickerCancel>Cancel</button>
                                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                              </mat-datepicker>
                              


                        </div>
                    </div>

                    <app-date [ngClass]="{'load-date-user': srvc.isUser}"></app-date>

                    <div *ngIf="srvc.isUser">
                        <div class="steppr-condition-contain">
                            <p>Wait !!!</p>
                            <p class="text-muted">It's better to login first !</p>
                            <button class="btn btn-info" style="padding: 7px 50px;">Log in</button><br>
                            <a [routerLink]="'/user'">You don't have an account?</a>
                        </div>
                    </div>

                </div>


                <div>
                    <button mat-button matStepperPrevious (click)="resetService()">Back</button>
                </div>
            </mat-step>

            <mat-step [stepControl]="fourthFormGroup">
                <form class="stepper-form" [formGroup]="fourthFormGroup">

                    <ng-template matStepLabel>Your Name</ng-template>
                    <mat-form-field>
                        <mat-label>Fisrt Name</mat-label>
                        <input matInput placeholder="Your Name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field class="ms-5">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Your Last Name" formControlName="firstCtrl" required>
                    </mat-form-field>

                    <div>
                        <p>Please Enter Your Name & Last Name!</p>
                        <button mat-button matStepperNext>Next</button>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>

        </mat-stepper>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#dc3545" fill-opacity="0.9" d="M0,160L720,224L1440,160L1440,320L720,320L0,320Z"></path>
        </svg>
    </div>
</section>

<!-- Section-4 Component End -->