<!-- Section-4 Component -->
<!-- That's Component For Show Calendar & Appointment -->

<div id="foSection">
    <div class="fosection">
        <mat-stepper #stepper class="mat-stepper-style my-0 mx-auto">

            <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                <ng-template matStepLabel>Start Appointment</ng-template>
                <div class="stepper-text text-center">
                    <div class="stepper-text-head">
                        <h4>Appointment Now !</h4>
                    </div>
                    <div class="stepper-text-content">
                        <p class="text-muted">
                            You can save time by booking in advance. Indeed, get a 20% discount!</p>
                    </div>
                    <button class="btn btn-danger" matStepperNext>Let's Go!</button>
                </div>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Select Services</ng-template>

                <div id="services">
                    <div class="services-txt text-center">
                        <div class="services-txt-content">
                            <p class="text-muted">You Can Choose Several Services!</p>
                        </div>
                    </div>
                    <div class="services">
                        <div class="service-body service-body-bac"
                            *ngFor="let service of services.slice(0, visibleServices)"
                            [ngClass]="{'selected-service': service.isSelected , 'load-date': loadDate}"
                            (click)="!loadDate ? selectedService(service) : null">

                            <div class="service-price">
                                <p>&#36;{{ service.price }}</p>
                            </div>
                            <div class="service-text">
                                <div class="service-title">
                                    <p>{{ service.title }}</p>
                                </div>
                                <div class="service-content">
                                    <p class="text-muted">{{ service.description }}</p>
                                </div>
                            </div>
                            <div class="service-picture">
                                <div [ngClass]="service.pictureClass"></div>
                            </div>
                        </div>
                    </div>
                    <div class="float-end" style="margin-right: 4rem;">
                        <button class="btn btn-light me-2" [ngClass]="{'load-date': loadDate}"
                            (click)=" !loadDate ? loadMore() : null" *ngIf="visibleServices < services.length">Load
                            More</button>
                        <button class="btn btn-danger" (click)="showSelectedTitles()"
                            [disabled]="diasableButton">Finish?</button>
                    </div>
                    <div *ngIf="loaderAnimation" class="spinner-overlay"
                        style="position: relative;right: -33rem;top: -11rem;">
                        <mat-spinner [diameter]="80"></mat-spinner>
                    </div>
                </div>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
                <ng-template matStepLabel>Select Date</ng-template>

                <div class="steppr-condition">
                    <app-section5 [ngClass]="{'load-date-user': !srvc.isUser}"></app-section5>

                    <div *ngIf="!srvc.isUser">
                        <div class="steppr-condition-contain">
                            <p>Wait !!!</p>
                            <p class="text-muted">It's better to login first !</p>
                            <button class="btn btn-info" style="padding: 7px 50px;">Log in</button><br>
                            <a [routerLink]="'/user'">You don't have an account?</a>
                        </div>
                    </div>

                </div>


                <div>
                    <button mat-button matStepperPrevious (click)="resetService()">Back</button>
                </div>
            </mat-step>

            <mat-step [stepControl]="fourthFormGroup" errorMessage="Name is required.">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Your Name</ng-template>
                    <mat-form-field>
                        <mat-label>Fisrt Name</mat-label>
                        <input matInput placeholder="Your Name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field class="ms-5">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Your Last Name" formControlName="firstCtrl" required>
                    </mat-form-field>

                    <div>
                        <p>Please Enter Your Name & Last Name!</p>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>

        </mat-stepper>



    </div>
</div>

<!-- Section-4 Component End -->