<div class="user-information p-5">
    <div class="container">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-4">
                    <img style="width:500px;" class="img-circle img-thumbnail isTooltip img-fluid"
                        src="https://bootdey.com/img/Content/avatar/avatar7.png">
                </div>
                <div class="col-md-6 align-self-center">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="inputname4" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputname4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-12">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>