/* .sticky & #mainmenu are in style.css */

#submenu {
    position: absolute;
    top: -1rem;
    width: 100%;
    z-index: 10000;
    background: rgb(227 227 227);
    padding: 5px 0;
    place-content: center;
}

.mainmenu {
    box-shadow: 0px 0px 6px 0px #6d6d6d;
    border-radius: 0 0 2px 2px;
}

ul li {
    margin: 0px 10px;
    font-size: larger;
}