<!-- Menu Component -->
<!-- That's Component For Show Navbar -->
<header>
    <div class="header">
        <div id="submenu" class="d-flex my-3">
            <div id="timer"></div>
        </div>
        <div id="mainmenu" class="mainmenu d-flex align-items-center justify-content-around fixed-top">
            <nav id="navbar-example2" class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand position-fixed" href="#" style="left: 12px;">
                        Tata Barber "
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav nav-pills list-unstyled d-flex navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                        <div class="d-flex position-fixed" style="right: 12px;">
                            <button class="btn btn-warning position-relative">Appointment !
                                <span
                                    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </button>

                            <div class="ms-2">
                                <div *ngIf="!username.isUser">
                                    <button [routerLink]="'/user'" class="btn btn-danger rounded-5">
                                        <i class="bi bi-box-arrow-in-right"></i>
                                    </button>
                                </div>
                                <div *ngIf="username.isUser">
                                    <span>Hello </span>
                                    <span [textContent]="username.user"></span>
                                    <span> !</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Menu Component End -->