<!-- Section-7 Component -->
<!-- That's Component For .. -->
<div id="seSection">
    <div class="sesection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center my-2">
                    <h2>Style Trends</h2>
                </div>
                <div class="col-lg-12 text-center my-2">
                    <p>
                        Hairstyle autem accusamus magni doloribus qui nostrum autem accusamus magni doloribus qui
                        nostrum tenetur dicta rem eveniet soluta.</p>
                </div>
            </div>
            <div class="portfolio-menu mt-2 mb-4">
                <ul>
                    <li class="btn btn-outline-dark" data-filter="*">All</li>
                    <li class="btn btn-outline-dark" data-filter=".gts">Classic</li>
                    <li class="btn btn-outline-dark" data-filter=".lap">Beard</li>
                    <li class="btn btn-outline-dark text" data-filter=".selfie">MakeUp</li>
                </ul>
            </div>

            <div class="portfolio-item row" style="position: relative; height: 1982.09px;">
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 0px; top: 0px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm" style="position: absolute; left: 285px; top: 0px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 0px; top: 719.833px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 285px; top: 720.25px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 570px; top: 720.25px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 855px; top: 899.281px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 0px; top: 899.687px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 285px; top: 900.521px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 570px; top: 900.521px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm"
                    style="position: absolute; left: 285px; top: 1633px;">
                    <a href="assets/model/classic-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section-7 Component End -->