<!-- Section-7 Component -->
<!-- That's Component For .. -->
<div id="seSection">
    <div class="sesection">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="fs-1">Most Style Trends</h2>
                    <p class="mb-0">
                        Hairstyle autem accusamus magni doloribus qui nostrum autem accusamus magni doloribus qui
                        nostrum tenetur dicta rem eveniet soluta.
                    </p>
                </div>
            </div>

            <!-- Tabs START -->
            <ul class="nav nav-pills text-white justify-content-sm-center mb-4 px-3" id="course-pills-tab"
                role="tablist">
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="btn btn-outline-dark border-0 mb-2 mb-md-0" id="course-pills-tab-1"
                        data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab"
                        aria-controls="course-pills-tabs-1" aria-selected="false" tabindex="-1">New</button>
                </li>
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="btn btn-outline-dark border-0 mb-2 mb-md-0" id="course-pills-tab-2"
                        data-bs-toggle="pill" data-bs-target="#course-pills-tabs-2" type="button" role="tab"
                        aria-controls="course-pills-tabs-2" aria-selected="false" tabindex="-1">Classic</button>
                </li>
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="btn btn-outline-dark border-0 mb-2 mb-md-0 active" id="course-pills-tab-3"
                        data-bs-toggle="pill" data-bs-target="#course-pills-tabs-3" type="button" role="tab"
                        aria-controls="course-pills-tabs-3" aria-selected="true">Beard</button>
                </li>
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="btn btn-outline-dark border-0 mb-2 mb-md-0" id="course-pills-tab-4"
                        data-bs-toggle="pill" data-bs-target="#course-pills-tabs-4" type="button" role="tab"
                        aria-controls="course-pills-tabs-4" aria-selected="false" tabindex="-1">MakeUp</button>
                </li>
            </ul>
            <!-- Tabs END -->

            <!-- Tabs content START -->
            <div class="tab-content" id="course-pills-tabContent">

                <!-- Content START -->
                <div class="tab-pane fade" id="course-pills-tabs-1" role="tabpanel"
                    aria-labelledby="course-pills-tab-1">
                    <div class="row g-4">

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Content START -->
                <div class="tab-pane fade" id="course-pills-tabs-2" role="tabpanel"
                    aria-labelledby="course-pills-tab-2">
                    <div class="row g-4">

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="card shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Content START -->
                <div class="tab-pane fade active show" id="course-pills-tabs-3" role="tabpanel"
                    aria-labelledby="course-pills-tab-3">
                    <div class="row g-4">

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Content START -->
                <div class="tab-pane fade" id="course-pills-tabs-4" role="tabpanel"
                    aria-labelledby="course-pills-tab-4">
                    <div class="row g-4">

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Content START -->
                <div class="tab-pane fade" id="course-pills-tabs-5" role="tabpanel"
                    aria-labelledby="course-pills-tab-5">
                    <div class="row g-4">

                        <div class="tab-content col-sm-6 col-lg-4 col-xl-3">
                            <div class="shadow h-100">
                                <!-- Image -->
                                <img class="img-fluid img-style" src="assets/model/classic-1.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Section-7 Component End -->