<!-- Section-1 Component -->
<!-- That's Component For Show Header -->

<section id="fSection" class="mt-5">
    <div id="home" class="fsection">
        <div class="fsection-bacground w-100 position-relative">
            <div class="fsection-bac-content position-absolute text-center text-white">
                <div class="fsection-bac-cntnt-title"></div>
                <div class="fsection-bac-cntnt-txt w-75 my-0 mx-auto">
                    <h2>Best Barber In Subway</h2>
                </div>
                <div class="fsection-bac-cntnt-l-txt w-50 d-flex justify-content-evenly my-0 mx-auto">
                    <div class="fsection-bac-cntnt-l-txt-r">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="4" viewBox="0 0 56 4" fill="none">
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        </svg>
                    </div>
                    <p>Professional Care</p>
                    <div class="fsection-bac-cntnt-l-txt-l">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="4" viewBox="0 0 56 4" fill="none">
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        </svg>
                    </div>
                </div>
            </div>
            <section id="scroll" class="scroll">
                <a href="#about"><span></span><span></span><span></span></a>
            </section>
        </div>
    </div>
</section>

<!-- Section-1 Component End -->