#fSection .fsection .fsection-bacground {
    background: linear-gradient(0deg, rgba(46, 34, 0, 0.30) 0%, rgba(46, 34, 0, 0.30) 100%), url('../../images/banner.png'), lightgray 50% / cover no-repeat;
    height: 850px;
    background-attachment: fixed;
}

.fsection-bacground .fsection-bac-content {
    line-height: 5;
    right: 21rem;
    top: 15rem;
}