<div id="fSection">
    <div class="fsection">
        <div class="fsection-bacground w-100 position-relative">
            <div class="fsection-bac-content position-absolute text-center text-white">
                <div class="fsection-bac-cntnt-title">
                    <img src="https://s3-alpha-sig.figma.com/img/fd80/645a/62af188ada9a84ec61bd53f25220c388?Expires=1698624000&Signature=F97Q2A5SpNEedq0-ccVVr9cbG-CBECiGCSCWTl9Osb0eZKyjoT5FsTSozQceRh5wzn8BV2Uweb-EhcACA9Ve8L5JIFDPsArIGQpTocHQ-gkpEjS0rCJ6ygrPGwLeqwcwoDITklzLAgE3PZQSoFVvRhxVStq2~PZE23us4jAzKn3tmiPQOsBz2QYo74lNLABFQDuGgWkoeKIojnoLx5sZynkKFTq5E4Iiffx8Wtj0oIeRGeO10QQqXv4E9qFgDEHlrzNLksQRDJ776YnYykLEko2N7BLP5MEjcEPu6oF5Dpj2Gh4cmaIvcCTR8i8c1kKz3AV5lf1XiXeeZRjJ94CPWA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                        alt="">
                </div>
                <div class="fsection-bac-cntnt-txt w-75 my-0 mx-auto">
                    <h2 style="font-size: 4rem;">Best Barber In Subway</h2>
                </div>
                <div class="fsection-bac-cntnt-l-txt w-50 d-flex justify-content-evenly my-0 mx-auto">
                    <div class="fsection-bac-cntnt-l-txt-r">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="4" viewBox="0 0 56 4" fill="none">
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        </svg>
                    </div>
                    <p>Professional Care</p>
                    <div class="fsection-bac-cntnt-l-txt-l">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="4" viewBox="0 0 56 4" fill="none">
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                            <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>