.customer-section .col-lg-4:nth-child(1) .single-cat,
.customer-section .col-lg-4:nth-child(2) .single-cat,
.customer-section .col-lg-4:nth-child(3) .single-cat {
    border-top: 1px solid rgba(103, 94, 94, 0.2)
}

@media (max-width: 575px) {

    .customer-section .col-lg-4:nth-child(1) .single-cat,
    .customer-section .col-lg-4:nth-child(2) .single-cat,
    .customer-section .col-lg-4:nth-child(3) .single-cat {
        border-bottom: 1px solid rgba(103, 94, 94, 0.2)
    }
}

.customer-section .col-lg-4:nth-child(1) .single-cat {
    border-left: 0;
    border-right: 0
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-section .col-lg-4:nth-child(1) .single-cat {
        border-left: 1px solid rgba(103, 94, 94, 0.2)
    }
}

.customer-section .col-lg-4:nth-child(3) .single-cat {
    border-left: 0;
    border-right: 0
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-section .col-lg-4:nth-child(3) .single-cat {
        border-left: 1px solid rgba(103, 94, 94, 0.2) !important
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-section .col-lg-4:nth-child(3) .single-cat {
        border-right: 1px solid rgba(103, 94, 94, 0.2);
        border-left: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-section .col-lg-4:nth-child(3) .single-cat {
        border-right: 1px solid rgba(103, 94, 94, 0.2);
        border-left: 0
    }
}

.customer-section .single-cat {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    z-index: 1;
    padding: 40px 46px 25px 46px;
    border: 1px solid rgba(103, 94, 94, 0.2);
    border-radius: 0px
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .customer-section .single-cat {
        height: 356px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .customer-section .single-cat {
        height: 290px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-section .single-cat {
        padding: 30px 15px 10px 20px;
        height: 290px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-section .single-cat {
        padding: 40px 35px 25px 35px
    }
}

.customer-section .single-cat .cat-img {
    margin-bottom: 25px
}

.customer-section .single-cat .cat-img img {
    border-radius: 50%;
    display: inline-block
}

.customer-section .single-cat .cat-img p {
    color: #150303;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px
}

.customer-section .single-cat .cat-cap span {
    color: #6785FF;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block
}

.customer-section .single-cat .cat-cap h5>a {
    font-size: 28px;
    font-weight: 500;
    color: #150303;
    text-transform: capitalize;
    margin-bottom: 17px;
    display: block;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-section .single-cat .cat-cap h5>a {
        font-size: 21px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-section .single-cat .cat-cap h5>a {
        font-size: 20px
    }
}

@media (max-width: 575px) {
    .customer-section .single-cat .cat-cap h5>a {
        font-size: 23px
    }
}

.customer-section .single-cat .cat-cap h5>a:hover {
    color: #FB0000
}

.customer-section .single-cat .cat-cap p {
    color: #150303;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 24px;
    font-weight: 300
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .customer-section .single-cat .cat-cap p {
        font-size: 16px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-section .single-cat .cat-cap p {
        font-size: 13px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-section .single-cat .cat-cap p {
        font-size: 17px
    }
}

@media (max-width: 575px) {
    .customer-section .single-cat .cat-cap p {
        font-size: 17px
    }
}

/* .rating {
    position: relative
}

.rating i {
    color: #ffc107;
    display: inline-block;
    margin-bottom: 15px
}

.cat-cap p {
    color: #150303
} */

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.section-tittle {
    position: relative
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

@media (max-width: 575px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle p {
    color: #656565;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle p br {
        display: none
    }
}

@media (max-width: 575px) {
    .section-tittle p br {
        display: none
    }
}

.section-tittle p a {
    text-decoration: underline
}

.section-tittle>span {
    color: #FB0000;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.1em;
    margin-bottom: 18px
}

@media (max-width: 575px) {
    .section-tittle>span {
        font-size: 14px;
        padding-left: 0px
    }
}

.member {
    height: 70px;
    width: 70px;
    border-bottom-style: inset;
    box-shadow: 0 0 2px #494949;
    border-radius: 50%;
}

.member1 {
    background-image: url(../../assets/users/hajian1.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.member2 {
    background-image: url(../../assets/users/cat2.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 2rem;
}

.member3 {
    background-image: url(../../assets/users/cat.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 4rem;
    z-index: -1;
}

.member4 {
    background-image: url(../../assets/users/girl1.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 6rem;
    z-index: -2;
}
.member5 {
    background-color: #ff5b0080;
    position: absolute;
    left: 9rem;
    z-index: -3;
    text-shadow: 0 0 1px white;
    font-size: 27px;
    padding: 14px 21px;
}