<!-- Section-6 Component -->
<!-- That's Component For Show The Customers Comments -->

<section id="siSection">
    <div class="sisection">
        <div class="customer-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-7">
                        <div class="section-tittle section-tittle2 text-center mb-50">
                            <h2>Customers Say About Us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 p-0">
                        <div class="single-cat mb-30">
                            <div class="cat-cap">
                                <div class="rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore
                                    magna.</p>
                            </div>
                            <div class="cat-img">
                                <img src="assets/customer1.png" alt>
                                <p>Wilma Mumduya</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-0">
                        <div class="single-cat mb-30">
                            <div class="cat-cap">
                                <div class="rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore
                                    magna.</p>
                            </div>
                            <div class="cat-img">
                                <img src="assets/customer2.png" alt>
                                <p>Jimmy Changa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-0">
                        <div class="single-cat mb-30">
                            <div class="cat-cap">
                                <div class="rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                                <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore
                                    magna.</p>
                            </div>
                            <div class="cat-img">
                                <img src="assets/customer1.png" alt>
                                <p>Wilma Mumduya</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section-6 Component End -->