<!-- Section-3 Component -->
<!-- That's Component For Show ServicesSection -->

<section id="tSection" class="mb-3">
    <div id="services" class="tsection py-5 py-xl-8">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 mb-5 text-center">
                    <h2 class="mb-4">Services</h2>
                    <p class="text-muted mb-4 small">
                        Our barbershop has been the leader in providing all kinds of services, including simple
                        <span style="color: goldenrod;">haircuts</span> & <span style="color: goldenrod;">new
                            models</span>, <span style="color: goldenrod;">removing wrinkles</span>, <span
                            style="color: goldenrod;">skin & hair care services</span> & etc.!
                    </p>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row gy-5 justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-1.png" width="80">
                        <h5 class="m-2">Beard Trimming & Styling</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-2.png" width="80">
                        <h5 class="m-2">Beautiful Environment</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-3.png" width="80">
                        <h5 class="m-2">New Equipment</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section-3 Component End -->