/* .services-card-bacground-1 {
    border-radius: 180px;
    background: url('../../assets/hair-styles.png');
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: -4rem auto 0;
}

.services-card-bacground-2 {
    border-radius: 180px;
    background: url('../../assets/beard-trim.png');
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: -4rem auto 0;
}

.services-card-bacground-3 {
    border-radius: 180px;
    background: url('../../assets/hot-shave.png');
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: -4rem auto 0;
}

.services-card-bacground-4 {
    border-radius: 180px;
    background: url('../../assets/hair-shampo.png');
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: -4rem auto 0;
}

.services-card-txt {
    text-align: justify;
    text-align-last: center;
    padding: 20px 20px 0px;
}

.services-bacground-color-2 {
    background-color: #e7a06a;
    ;
}

.services-bacground-color-1 {
    background-color: #dfb892;
} */

