<div id="tSection">
    <div class="tsection">
        <div class="services">

            <div class="services-box card-group text-center mt-5">
                <div class="card services-bacground-color-1">
                    <div class="card-img services-card-bacground-1"></div>
                    <div class="card-body">
                        <h5 class="card-title">HAIR STYLES</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
                <div class="card services-bacground-color-2">
                    <div class="card-img services-card-bacground-2"></div>
                    <div class="card-body">
                        <h5 class="card-title">BEARD TRIM</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
                <div class="card services-bacground-color-1">
                    <div class="card-img services-card-bacground-3"></div>
                    <div class="card-body">
                        <h5 class="card-title">HOT SHAVE</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
                <div class="card services-bacground-color-2">
                    <div class="card-img services-card-bacground-4"></div>
                    <div class="card-body">
                        <h5 class="card-title">HAIR SHAMPOO</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>