<!-- Section-3 Component -->
<!-- That's Component For Show ServicesSection -->

<section id="tSection">
    <div class="tsection py-5 py-xl-8">
        <!-- <div class="services">
            <div class="services-box card-group text-center mt-5">
                <div class="card services-bacground-color-1">
                    <div class="card-img services-card-bacground-1"></div>
                    <div class="card-body">
                        <h5 class="card-title">HAIR STYLES</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
                <div class="card services-bacground-color-2">
                    <div class="card-img services-card-bacground-2"></div>
                    <div class="card-body">
                        <h5 class="card-title">BEARD TRIM</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
                <div class="card services-bacground-color-1">
                    <div class="card-img services-card-bacground-3"></div>
                    <div class="card-body">
                        <h5 class="card-title">HOT SHAVE</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
                <div class="card services-bacground-color-2">
                    <div class="card-img services-card-bacground-4"></div>
                    <div class="card-body">
                        <h5 class="card-title">HAIR SHAMPOO</h5>
                        <p class="card-text services-card-txt">
                            A small river named Duden flows by their place and supplies it with the necessary
                            regelialia. It is a paradisematic country, in which roasted parts
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-5 text-center">Services</h2>
                    <p class="text-secondary mb-5 text-center">Orci varius natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus. Pellentesque et neque id ligula mattis commodo.
                    </p>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-5 justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-1.png" width="80">
                        <h5 class="m-2">SEO Consulting</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-2.png" width="80">
                        <h5 class="m-2">Web Development</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-3.png" width="80">
                        <h5 class="m-2">Digital Strategy</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-4.png" width="60">
                        <h5 class="m-2">Web Design</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="text-center px-xl-2">
                        <img src="assets/icons/barber-5.png" width="80">
                        <h5 class="m-2">Digital Marketing</h5>
                        <p class="m-0 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                            posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Section-3 Component End -->