<!-- Section-2 Component -->
<!-- That's Component For Show AboutSection -->

<div id="sSection" class="mt-5">
    <div class="ssection w-100" style="height: 60vh;">
        <div class="about d-flex justify-content-evenly align-items-baseline my-0 mx-auto">

            <div class="ssection-about-img w-50">
                <img src="https://s3-alpha-sig.figma.com/img/57c2/0995/4b24f7013cedd1c4dd63577a5192b659?Expires=1699833600&Signature=IOqt6uE-5aTdEiQ1~vWNZ9oir2QZMJG9YMAse5SPnANXaNiY3AtTCdQCM1THpAuPaUTzGTZKod4LZ92dJVRQ46~iTpv0jhM8KQgonAX0yb6bEGFeTTQse86HtgIR6H0jxIHYODmSgKzWZZEPj25eqnA6En9HWqdA06uP0Lkocdwc6JCkCqKfdj-RLJB9S3~Rc1lCiQiovICMCjOrafkJfNShnrk71ey-GTl9gewdYIhn31CxoEDJbWPUASABor4p~A6vx6FS1s-M84V9h6I6NjvYeE1OK~CI0GbJ8yYlzhbnYhIDeinyYjYr2vHcyT0zAStB1Kck3UhVJw6iTjM~Rw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt="" width="80%">
            </div>

            <div class="ssection-about-txt">

                <div class="ssection-about-txt-title">
                    <h3>About Us</h3>
                </div>
                <div class="ssection-about-txt-title-l">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="4" viewBox="0 0 56 4" fill="none">
                        <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                    </svg>
                </div>

                <div class="ssection-about-txt-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliteiusmod tempor incididunt ut labore et
                        dolore magna
                        aliqua. Qpsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                        facilisis.</p>
                </div>

                <div class="ssection-about-txt-bodyt">
                    <p>Opening Hour <strong>10:00 am - 10:00 pm</strong></p>
                </div>

                <button class="btn btn-danger">Appointment Now !</button>

            </div>

        </div>
    </div>
</div>

<!-- Section-2 Component End -->