<!-- Section-2 Component -->
<!-- That's Component For Show AboutSection -->

<div id="sSection" class="mt-5">
    <div id="about" class="ssection w-100">
        <div class="about d-flex justify-content-evenly align-items-baseline my-0 mx-auto">
            <div class="ssection-about-img w-50">
                <img src="assets/img/about/about-us.png" alt="" width="80%">
            </div>
            <div class="ssection-about-txt">
                <div class="ssection-about-txt-title">
                    <h2>About Us</h2>
                </div>
                <div class="ssection-about-txt-body">
                    <p>Lorem ipsum dolor sit amet, <span style="color: goldenrod;">consectetur</span> adipiscing
                        eliteiusmod tempor incididunt ut labore et dolore magna aliqua. Qpsum
                        <span style="color: goldenrod;"> suspendisse ultrices </span>
                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                </div>
                <div class="ssection-about-txt-bodyt">
                    <p>Opening Hour <strong>10:00 am - 10:00 pm</strong></p>
                </div>
                <button class="btn btn-danger">
                    <a href="#appointment" class="text-decoration-none text-white">Appointment !</a>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Section-2 Component End -->