<!-- Section-2 Component -->
<!-- That's Component For Show AboutSection -->

<div id="sSection" class="mt-5">
    <div class="ssection w-100" style="height: 60vh;">
        <div class="about d-flex justify-content-evenly align-items-baseline my-0 mx-auto">
            <div class="ssection-about-img w-50">
                <img src="assets/about-us.png" alt="" width="80%">
            </div>
            <div class="ssection-about-txt">
                <div class="ssection-about-txt-title">
                    <h3>About Us</h3>
                </div>
                <div class="ssection-about-txt-title-l">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="4" viewBox="0 0 56 4" fill="none">
                        <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                        <path d="M0 2H55.5" stroke="#DE841F" stroke-width="3" />
                    </svg>
                </div>
                <div class="ssection-about-txt-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliteiusmod tempor incididunt ut labore et
                        dolore magna
                        aliqua. Qpsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                        facilisis.</p>
                </div>
                <div class="ssection-about-txt-bodyt">
                    <p>Opening Hour <strong>10:00 am - 10:00 pm</strong></p>
                </div>
                <button class="btn btn-danger">Appointment Now !</button>
            </div>
        </div>
    </div>
</div>

<!-- Section-2 Component End -->