@import url('assets/bootstrap.5.3.2.min.css');

@import url('https://fonts.cdnfonts.com/css/merienda');
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');
@import url('./assets/fontawesome/css/fontawesome.min.css');


body {
    font-family: 'Merienda';
    overflow-x: hidden;
}

* {
    font-family: 'Merienda';
}

h2 {
    line-height: 1;
    font-size: xxx-large;
    font-family: 'Merienda';
    height: 51px;
    display: inline-block;
    background-image: linear-gradient(transparent 50%, #ef6c0008 50%, #d32f2f61 85%, transparent 85%, transparent 100%);
    background-repeat: no-repeat;
    border-radius: 10rem 0rem 6rem 1rem;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0.5s forwards;
}

@keyframes animatedBackground {

    to {
        background-size: 100% 100%;
    }
}

@keyframes wavyText {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
        transform: translateX(-5px);
    }

    100% {
        transform: translateY(-5px);

    }
}

.sticky {
    position: fixed;
    top: 0;
    transition: all 1s;
    margin-top: -1px !important;
    background: #f8f8f8 !important;
    z-index: 10;
}

#mainmenu {
    margin-top: 2.1rem;
    transition: all 1.5s;
    background: white;
}


body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(237 131 58 / 80%);
    border-radius: 5px;
}

/* Scroll Style */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .navbar-brand {
        width: 24rem;
        position: static !important;
    }


    #fSection .fsection .fsection-bacground {
        background-position: bottom !important;
    }

    .fsection-bacground .fsection-bac-content {
        right: 0 !important;
    }

    .fsection-bac-cntnt-l-txt {
        width: auto !important;
    }

    #sSection {
        padding: 3rem 0;
    }

    #sSection .ssection .about {
        flex-direction: column !important;
    }


    .about .ssection-about-img {
        width: 85% !important;
        margin: 2rem auto;
    }

    .ssection-about-img img {
        width: 100% !important;
    }

    .about .ssection-about-txt {
        width: inherit !important;
    }


    .customer {
        display: block !important;
        width: 100% !important;
        margin-left: 1rem !important;
        text-align: center;
    }

    .customer button {
        top: 20px !important;
        left: 7rem !important;
    }

    .members {
        align-items: baseline !important;
        margin: 1rem 2rem 0;
    }

    .sesection ul {
        justify-content: center;
    }

    .footer {
        margin-top: 0rem !important;
    }

    .footer>svg {
        top: -0.5px !important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */