<!-- Home Component -->
<!-- That's Component For Show HomePage -->

<app-menu></app-menu>
<!-- Menu End -->
<main data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    
    <app-section1></app-section1>
    <!-- First Section End -->

    <app-section2></app-section2>
    <!-- Second Section End -->

    <app-section3></app-section3>
    <!-- Third Section End -->

    <app-section4></app-section4>
    <!-- Fourth Section End -->

    <app-section5></app-section5>
    <!-- Fifth Section End -->

    <app-section6></app-section6>
    <!-- Sixth Section End -->

    <!-- <app-reserved></app-reserved> -->

    <app-section7></app-section7>
    <!-- Seventh Section End -->

    <app-footer></app-footer>
    <!-- Footer End -->
</main>

<!-- Home Component End -->