<!-- Date-Section Component -->
<!-- That's Component For Show & Selecte The Date -->

<section id="daSection">
    <div class="dasection">

        <div class="appointment-time d-flex flex-wrap ms-5">

            <div class="time m-auto" *ngFor="let date of datee" [ngClass]="{'selected-service': date.isSelected}"
                (click)="selectedDate(date)">

                <div class="time-title">
                    <p class="d-none" >{{ date.title }}</p>
                </div>
                <div class="time-time" style="    font-size: 1.1rem;">
                    <p>{{ date.time }}</p>
                </div>
                <div class="time-avable text-muted">
                    <p>{{ date.avable + ' Space Available' }}</p>
                </div>
            </div>

        </div>

        <div class="float-end" style="margin-right: 4rem;">
            <button class="btn btn-danger" matStepperNext (click)="nexStepper()"
                [disabled]="diasableButton">Finish?</button>
        </div>
    </div>
</section>

<!-- Section-5 Component End -->